In [ ]:
import pandas as pd

In [ ]:
df_data = pd.read_excel('data_mahasiswa.xlsx')
df_data.head()

### Fungsi nilai akhir

In [ ]:
def nilai_akhir(uts, uas, tugas):
    return (0.3 * uts) + (0.4 * uas) + (0.3 * tugas)

### Fungsi tentukan grade

In [ ]:
def tentukan_grade(nilai):
    if nilai >= 80 :
        return "A"
    elif nilai >= 70 :
        return "B"
    elif nilai >= 60 :
        return "C"
    elif nilai >= 50 :
        return "D"
    else :
        return "E"

### Tambahkan kolom baru ke DataFrame

In [ ]:
df_data["nilai_akhir"] = df_data.apply(lambda x: nilai_akhir(x['nilai_uts'],x['nilai_uas'],x['nilai_tugas']), axis=1)
df_data['grade'] = df_data['nilai_akhir'].apply(tentukan_grade)

### menampilkan data

In [ ]:
df_data

### Fungsi untuk mencari mahasiswa dengan nilai tertinggi/terendah

In [ ]:
def cari_tertinggi_terendah(data):
    for keterangan, mhs in {
        "Mahasiswa dengan Nilai Tertinggi": data.loc[data["nilai_akhir"].idxmax()],
        "Mahasiswa dengan Nilai Terendah" : data.loc[data["nilai_akhir"].idxmin()]
    }.items():
        print(f"\n{keterangan}:")
        print(f"Nama  : {mhs['nama']}")
        print(f"NIM   : {mhs['nim']}")
        print(f"Nilai : {mhs['nilai_akhir']:.2f}")
        print(f"Grade : {mhs['grade']}")

In [ ]:
cari_tertinggi_terendah(df_data)

# ----- Fitur Tambahan -----

### Input data mahasiswa baru

In [ ]:
def tambah_data(data):
    nama = input("Nama: ")
    nim = input("NIM: ")
    uts = float(input("Nilai UTS: "))
    uas = float(input("Nilai UAS: "))
    tugas = float(input("Nilai Tugas: "))

    data.loc[len(data)] = [nama, nim, uts, uas, tugas, nilai_akhir(uts, uas, tugas), tentukan_grade(nilai_akhir(uts, uas, tugas))]
    print("Data berhasil di tambahkan")
    return data

In [ ]:
df_data = tambah_data(df_data)

In [ ]:
df_data

### Filter Mahasiswa Berdasarkan Grade

In [ ]:
def filter_grade(data, grade):
    return data[data["grade"] == grade]

In [ ]:
print(filter_grade(df_data, "A")) # Tinggal di sesuaikan dengan kebutuhan
print("\n" + "="*60 + "\n")
print(filter_grade(df_data, "C"))
print("\n" + "="*60 + "\n")
print(filter_grade(df_data, "E"))

### Hitung rata-rata nilai kelas

In [ ]:
def rata_kelas(data):
    return data["nilai_akhir"].mean()

In [ ]:
print(f"Rata-rata nilai kelas: {rata_kelas(df_data)}")